<input type="file" @ref="_input" @onchange="HandleSelected" accept=".jpg, .jpeg, png" />
@if (ImageUrl != null)
{
    <div>
        <img src="@ImageUrl" style="width:300px" />
    </div>
}

@code {
    private ElementReference _input;

    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public EventCallback<string> OnChange { get; set; }

    [Inject]
    public IFileReaderService FileReaderService { get; set; }

    [Inject]
    public IVinylHttpRepository Repository { get; set; }

    private async Task HandleSelected()
    {
        foreach (var file in await FileReaderService.CreateReference(_input).EnumerateFilesAsync())
        {
            if (file != null)
            {
                var fileInfo = await file.ReadFileInfoAsync();
                using (var ms = await file.CreateMemoryStreamAsync(4 * 1024))
                {
                    var content = new MultipartFormDataContent();
                    content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
                    content.Add(new StreamContent(ms, Convert.ToInt32(ms.Length)), "image", fileInfo.Name);

                    ImageUrl = await Repository.UploadVinylImage(content);
                    await OnChange.InvokeAsync(ImageUrl);
                }
            }
        }
    }
}
