@page "/addVinyl"

<h2>Add New Vinyl</h2>

<EditForm Model="vinyl" OnSubmit="Create" class="card card-body bg-light mt-5 col-md-10">
    <div class="form-group row">
        <label for="albumName" class="col-md-2 col-form-label">Album Name</label>
        <div class="col-md-6">
            <InputText id="albumName" class="form-control" @bind-Value="vinyl.AlbumName" />
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label for="artistFirstName" class="col-md-2 col-form-label">Artist Name</label>
        <div class="col-md-6">
            <InputText id="artistFirstName" class="form-control" @bind-Value="vinyl.ArtistFName" />
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label for="artistLastName" class="col-md-2 col-form-label">Artist Last Name (if applicable):</label>
        <div class="col-md-6">
            <InputText id="artistLastName" class="form-control" @bind-Value="vinyl.ArtistLName" />
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label for="genre" class="col-md-2 col-form-label">Genre</label>
        <div class="col-md-6">
            <InputText id="genre" class="form-control" @bind-Value="vinyl.Genre" />
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label for="image" class="col-md-2 col-form-label">Upload Vinyl Cover</label>
        <div class="col-md-6">
            <ImageUpload OnChange="AssignImageUrl"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">SUBMIT</button>
        </div>
    </div>
</EditForm>
<SuccessNotification @ref="_notification" />

@code {
    private Vinyl vinyl = new Vinyl();
    private SuccessNotification? _notification;
    private void AssignImageUrl(string imgUrl) => vinyl.ImageUrl = imgUrl;

    [Inject]
    public IVinylHttpRepository VinylRepository { get; set; }

    private async Task Create()
    {
        await VinylRepository.CreateVinyl(vinyl);
        _notification.Show();
    }
}
