@page "/"

<Home Title="Welcome to the BlazorVinyls.Client application." @attributes="AdditionalAttributes">
    <WishListContent>
        Check out my <a href="https://www.amazon.com" target="_blank">wishlist</a>
    </WishListContent>
</Home>

@code{
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>
    {
        { "src", "/assets/icon-192.png" },
        { "alt", "test image for the Home component" }
    };
}