@page "/vinyls"

@foreach (var vinyl in VinylsList)
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@vinyl.AlbumName</h5>
                        <p class="card-text">@vinyl.ArtistFName @vinyl.ArtistLName</p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                <br />
            </div>
        </div>
    </div>
}


@code {

    public List<Vinyl> VinylsList { get; set; } = new List<Vinyl>();

    [Inject]
    public IVinylHttpRepository VinylRepository { get; set; }

    protected async override Task OnInitializedAsync()
    {
        VinylsList = await VinylRepository.GetVinyls();
    }

}
